<!DOCTYPE html>
<html>

<head>
<style>
.numericCol {
    text-align: right;
}
</style>
<meta charset="UTF-8">
<title>Sample portfolio</title>
</head>

<body>
<h2>Total value: ${{ data['totalValue'] | round(2) }}</h2>

<table>
{% for position in data['positions']  %}
    <tr>
    <td>{{position['symbol']}}</td>
    <td class="numericCol">{{ position['count'] }}</td>
    <td class="numericCol">${{ '{:.2f}'.format(position['price']) }}</td>
    <td class="numericCol">${{ '{:.2f}'.format(position['value']) }}</td>
    <td>{{position['tags'] | join(', ')}}</td>
    </tr>
{% endfor %}
</table>

<table>
{% for tag, value in data['tagValues'].items()  %}
    <tr>
    <td>{{ tag }}</td>
    <td class="numericCol">${{ '{:.2f}'.format(value) }}</td>
    <td class="numericCol">{{ '{:.2%}'.format(value / data['totalValue']) }}</td>
    </tr>
{% endfor %}
</table>

<p>

</p>

</body>

</html>